@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["sucesso"]
    </div>
}

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["erro"]
    </div>
}